mixin children(componentName, singularName, pluralName)
  .node-component-blocks(class=pluralName)
    template(v-for=singularName + " in " + pluralName)
      #{componentName}(:entity=singularName, :brother-entities=pluralName, :parent="me", :depth="depth + 1")
    template(v-if="!" + pluralName)
      .node.loading(:style="{paddingLeft: 20 + depth * 15 + 'px'}") #[i.fa.fa-spinner.fa-pulse] Loading #{pluralName}...
    template(v-if=pluralName + " && " + pluralName + ".length == 0")
      .node.nothing(:style="{paddingLeft: 20 + depth * 15 + 'px'}") #[i.fa.fa-ban] No #{pluralName}
    #{componentName}(v-if="status == 'stop'", :brother-entities=pluralName, :parent="this", :depth="depth + 1")

.base-node-component
  template(v-if="!add && entity")
    .node
      .datas
        .data.title
          .header(:style="{paddingLeft: 20 + depth * 15 + 'px'}")
            i.fa(:class="'fa-' + EntityClass.params.icon")
            | &nbsp;{{title}}
        .data.content
          block body
        .data.action
          b-dropdown(size="sm", :variant="buttonColor")
            template(slot="text")
              template(v-if="isRunning")
                i.fa.fa-circle-o-notch.fa-spin
              template(v-else)
                template(v-if="status == 'ready'"): i.fa.fa-toggle-on
                template(v-if="status == 'stop'"): i.fa.fa-toggle-off
                template(v-if="status == 'error'"): i.fa.fa-warning
                template(v-if="status == 'connecting'"): i.fa.fa-spinner.fa-pulse
                template(v-if="status == 'processing'"): i.fa.fa-refresh.fa-spin
            b-dropdown-item(@click="logs()") #[i.fa.fa-terminal] Show Logs
            b-dropdown-item(v-if="status != 'stop'", @click="stop()") #[i.fa.fa-power-off] Stop
            b-dropdown-item(v-if="status == 'stop'", @click="start()") #[i.fa.fa-power-off] Start
            b-dropdown-item(v-if="status == 'stop'", @click="edit()") #[i.fa.fa-pencil] Edit
            b-dropdown-item(v-if="status == 'stop' && parent", @click="remove()") #[i.fa.fa-trash-o] Remove
            b-dropdown-item(v-if="status == 'stop' && parent && !isFirst", click="move(false)") #[i.fa.fa-arrow-up] Move Up
            b-dropdown-item(v-if="status == 'stop' && parent && !isLast", click="move(true)") #[i.fa.fa-arrow-down] Move Down
        .data.log [{{lastLog ? lastLog.no : 0}}] {{lastLog ? lastLog.message : ""}}
    block children
  template(v-else)
    button.btn.btn-success(v-if="EntityClass.params.tableName == EntityClass.params.entityName",
    type="button", @click="showEdit = true") #[i.fa.fa-plus] Add {{lodash.startCase(EntityClass.params.entityName)}}
    button.btn.btn-success(v-else,
    type="button", @click="showEdit = true") #[i.fa(:class="'fa-' + EntityClass.params.icon")] {{lodash.startCase(EntityClass.params.entityName)}}

