mixin dropdown()
  .menu
    if !isServer
      button.btn.btn-info.btn-sm(v-if="!isFirst && status == 'stop'", type="button", @click="move(false)") #[i.fa.fa-arrow-left]
      button.btn.btn-info.btn-sm(v-if="!isLast && status == 'stop'", type="button", @click="move(true)") #[i.fa.fa-arrow-right]
    button.btn.btn-warning.btn-sm(v-if="status == 'stop'", type="button", @click="showEditModal = true") #[i.fa.fa-pencil]
    if !isServer
      button.btn.btn-danger.btn-sm(v-if="status == 'stop'", type="button", @click="remove()") #[i.fa.fa-trash-o]
    button.btn.btn-default.btn-sm(type="button", @click="showLogModal = true") #[i.fa.fa-list] {{logs.length}}
    button.btn.btn-success.btn-sm(v-if="status == 'ready'", type="button", @click="stop()") #[i.fa.fa-toggle-on]
    button.btn.btn-danger.btn-sm(v-if="status == 'stop'", type="button", @click="start()") #[i.fa.fa-toggle-off]
    button.btn.btn-warning.btn-sm(v-if="status == 'connecting'", type="button") #[i.fa.fa-spinner.fa-pulse]
    button.btn.btn-warning.btn-sm(v-if="status == 'processing'", type="button") #[i.fa.fa-refresh.fa-spin]

mixin children(componentName, singularName, pluralName, mode)
  section(class!=pluralName)
    .header
      #{componentName}(v-if="status == 'stop'", :add="true", :brother-entities="#{pluralName}", :parent="this")
      h1 {{lodash.startCase('#{pluralName}')}}
    .body
      if mode == "tab"
        tabs(v-if="#{pluralName}")
          tab(v-for="#{singularName} in #{pluralName}", :header="#{singularName}.name")
            #{componentName}(:entity="#{singularName}", :brother-entities="#{pluralName}", :parent="this")
        .loading(v-if="!#{pluralName}") #[i.fa.fa-spinner.fa-pulse] Loading #{pluralName}...
        .nothing(v-if="#{pluralName} && #{pluralName}.length == 0") #[i.fa.fa-ban] No #{pluralName}
      if mode == "box"
        .row
          .col-sm-6.col-md-4.col-lg-3(v-for="#{singularName} in #{pluralName}")
            #{componentName}(:entity="#{singularName}", :brother-entities="#{pluralName}", :parent="this")
        .loading(v-if="!#{pluralName}") #[i.fa.fa-spinner.fa-pulse] Loading #{pluralName}...
        .nothing(v-if="#{pluralName} && #{pluralName}.length == 0") #[i.fa.fa-ban] No #{pluralName}

mixin edit-modal()
  modal(title="Edit", :show.sync="showEditModal", effect="fade")
    .modal-body(slot="modal-body")
      form(v-if="editEntity", @submit.prevent="edit()")
        .form-group(v-for="(fieldName, field) in EntityClass.params.fields")
          div(v-if="!field.hidden")
            label {{lodash.startCase(fieldName)}}
            input.form-control(v-if="field.type == 'text'", type="text", v-model="editEntity[fieldName]", :required="field.required", :disabled="field.disabled", :placeholder="field.default")
            input.form-control(v-if="field.type == 'number'", type="number", v-model="editEntity[fieldName]", :required="field.required", :disabled="field.disabled", :placeholder="field.default")
            select.form-control(v-if="field.type == 'select'", v-model="editEntity[fieldName]", :disabled="field.disabled")
              option(v-for="(key, value) in field.options", :value="key") {{value}}
        button.btn.btn-primary.btn-block(type="submit") Submit
    .modal-footer(slot="modal-footer")
      button.btn.btn-default(type="button", @click="showEditModal = false") Close

mixin log-modal()
  modal(title="Log", :show.sync="showLogModal", effect="fade")
    .modal-body(slot="modal-body")
      form(v-if="editEntity", @submit.prevent="edit()")
        table.table.table-bordered.table-striped.table-condensed
          tr
            th Timestamp
            th Level
            th Message
          tr(v-for="log in logs", :class="{danger: log.level == 'fatal' || log.level == 'error', warning: log.level == 'warn'}")
            td {{log.timestamp}}
            td {{log.level}}
            td {{log.message}}
    .modal-footer(slot="modal-footer")
      button.btn.btn-default(type="button", @click="showLogModal = false") Close
