mixin dropdown()
  .menu
    button.btn.btn-warning.btn-sm(type="button", @click="showModal = true") #[i.fa.fa-pencil]
    if !disableDelete
      button.btn.btn-danger.btn-sm(type="button", @click="remove()") #[i.fa.fa-trash-o]

mixin children(componentName, singularName, pluralName)
  section(class!=pluralName)
    .header
      h1 List of #{pluralName}
    .body
      #{componentName}(v-for="#{singularName} in #{pluralName}", :entity="#{singularName}")
      .loading(v-if="!#{pluralName}") #[i.fa.fa-spinner.fa-pulse] Loading #{pluralName}...
      .nothing(v-if="#{pluralName} && #{pluralName}.length == 0") #[i.fa.fa-ban] No #{pluralName}
      #{componentName}(:add="true")

mixin modal()
  modal(title="Edit", :show.sync="showModal", effect="fade")
    .modal-body(slot="modal-body")
      form(v-if="editEntity", @submit.prevent="edit()")
        .form-group(v-for="field in EntityClass.params.fields")
          label {{lodash.startCase(field.name)}}
          input.form-control(v-if="field.type == 'text'", type="text", v-model="editEntity[field.name]", :required="field.required", :disabled="field.disabled", :placeholder="field.default")
          input.form-control(v-if="field.type == 'number'", type="number", v-model="editEntity[field.name]", :required="field.required", :disabled="field.disabled", :placeholder="field.default")
          select.form-control(v-if="field.type == 'select'", v-model="editEntity[field.name]", :disabled="field.disabled")
            option(v-for="value in field.options", :value="$key") {{value}}
        button.btn.btn-primary.btn-block(type="submit") Submit
    .modal-footer(slot="modal-footer")
      button.btn.btn-default(type="button", @click="showModal = false") Close
