mixin dropdown()
  .menu
    if !disableDelete
      button.btn.btn-info.btn-sm(type="button", @click="move(false)", :class="{disabled: isFirst}", :disabled="isFirst") #[i.fa.fa-arrow-left]
      button.btn.btn-info.btn-sm(type="button", @click="move(true)", :class="{disabled: isLast}", :disabled="isLast") #[i.fa.fa-arrow-right]
    button.btn.btn-warning.btn-sm(type="button", @click="showModal = true") #[i.fa.fa-pencil]
    if !disableDelete
      button.btn.btn-danger.btn-sm(type="button", @click="remove()") #[i.fa.fa-trash-o]
    if disableDelete
      button.btn.btn-sm(type="button", @click="isStarted ? stop() : start()", :class="{'btn-info': isStarted, 'btn-danger': !isStarted, disabled: isLoading}", :disabled="isLoading") #[i.fa.fa-power-off]

mixin children-tab(componentName, singularName, pluralName)
  section(class!=pluralName)
    .header
      #{componentName}(:add="true", :brother-entities="#{pluralName}", :parent="this")
      h1 {{lodash.startCase('#{pluralName}')}}
    .body
      tabs(v-if="#{pluralName}")
        tab(v-for="#{singularName} in #{pluralName}", :header="#{singularName}.name")
          #{componentName}(:entity="#{singularName}", :brother-entities="#{pluralName}", :parent="this")
      .loading(v-if="!#{pluralName}") #[i.fa.fa-spinner.fa-pulse] Loading #{pluralName}...
      .nothing(v-if="#{pluralName} && #{pluralName}.length == 0") #[i.fa.fa-ban] No #{pluralName}

mixin children-box(componentName, singularName, pluralName)
  section(class!=pluralName)
    .header
      #{componentName}(:add="true", :brother-entities="#{pluralName}", :parent="this")
      h1 {{lodash.startCase('#{pluralName}')}}
    .body
      .row
        .col-sm-6.col-md-4.col-lg-3(v-for="#{singularName} in #{pluralName}")
          #{componentName}(:entity="#{singularName}", :brother-entities="#{pluralName}", :parent="this")
      .loading(v-if="!#{pluralName}") #[i.fa.fa-spinner.fa-pulse] Loading #{pluralName}...
      .nothing(v-if="#{pluralName} && #{pluralName}.length == 0") #[i.fa.fa-ban] No #{pluralName}

mixin modal()
  modal(title="Edit", :show.sync="showModal", effect="fade")
    .modal-body(slot="modal-body")
      form(v-if="editEntity", @submit.prevent="edit()")
        .form-group(v-for="field in EntityClass.params.fields")
          label {{lodash.startCase(field.name)}}
          input.form-control(v-if="field.type == 'text'", type="text", v-model="editEntity[field.name]", :required="field.required", :disabled="field.disabled", :placeholder="field.default")
          input.form-control(v-if="field.type == 'number'", type="number", v-model="editEntity[field.name]", :required="field.required", :disabled="field.disabled", :placeholder="field.default")
          select.form-control(v-if="field.type == 'select'", v-model="editEntity[field.name]", :disabled="field.disabled")
            option(v-for="value in field.options", :value="$key") {{value}}
        button.btn.btn-primary.btn-block(type="submit") Submit
    .modal-footer(slot="modal-footer")
      button.btn.btn-default(type="button", @click="showModal = false") Close
